# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Models & runs
models/*.pt
runs/

# Data
data/raw/**
data/processed/**

# IDE
.vscode/
.idea/

